# Ignore node_modules
node_modules/

# Ignore build and log files
build/
*.log

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency directories
.idea/
.vscode/
